.modal-backdrop {
  transition: opacity 0.5s linear;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}

.modal {
  text-align: center;
}

.modal-backdrop.fade.show {
  opacity: 0.8;
}
